{
	"env": {
        "browser": true,
        "node": false
    },

    "globals": {
        "require": true,
        "define": true
    },

    "parser": "babel-eslint",

    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}]		// 4-space tabs, switch statements must be indented
    }
}
