{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jasmine": true,
    "jquery": true
  },
  "globals": {
    "_": false,
    "angular": false
  },
  "rules": {
    "array-callback-return": 1,
    "array-bracket-spacing": [1, "never"],
    "arrow-spacing": 1,
    "block-scoped-var": 1,
    "block-spacing": [1, "always"],
    "brace-style": [1, "stroustrup"],
    "comma-dangle": 1,
    "comma-spacing": [1, { "before": false, "after": true }],
    "comma-style": [1, "last"],
    "dot-location": [1, "property"],
    "dot-notation": 1,
    "eol-last": 1,
    "eqeqeq": [1, "allow-null"],
    "indent": [0, 2],
    "key-spacing": [1, { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": [1, { "after": true }],
    "max-len": [1, 130],
    "new-parens": 1,
    "no-const-assign": 1,
    "no-debugger": 1,
    "no-dupe-args": 1,
    "no-dupe-keys": 1,
    "no-duplicate-case": 1,
    "no-empty": 1,
    "no-empty-pattern": 1,
    "no-extra-semi": 1,
    "no-func-assign": 1,
    "no-floating-decimal": 1,
    "no-irregular-whitespace": 1,
    "no-implicit-globals": 1,
    "no-multi-spaces": 1,
    "no-native-reassign": 1,
    "no-new-wrappers": 1,
    "no-octal": 1,
    "no-redeclare": 1,
    "no-self-assign": 1,
    "no-spaced-func": 1,
    "no-trailing-spaces": 1,
    "no-whitespace-before-property": 1,
    "no-unreachable": 1,
    "no-unused-vars": 1,
    "no-with": 1,
    "object-curly-spacing": [1, "always"],
    "prefer-arrow-callback": [0, { "allowNamedFunctions": true }],
    "prefer-rest-params": 1,
    "semi": 1,
    "semi-spacing": 1,
    "space-infix-ops": 1,
    "space-unary-ops": 1,
    "valid-typeof": 1
  }
}
