# http://editorconfig.org
root = true

# All files
[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# JS files
[*.js]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
