# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# see https://help.github.com/articles/about-codeowners/ for more details

* @ThibodeauJF @pochretien @MichelML @sroy3 @GermainBergeron @rousselm4 @gdostie @vseguin
